/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Google Fonts */
body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation bar*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
/*Navigation Bar End*/

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Intro Section End*/

/*Succeed info section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: text-top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*Succeed info section end*/

/*Footer*/
footer {
	padding: 0.7rem;
	text-align: left;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Footer end*/


/*Pre footer Activity*/

#pre-footer {
	
	background-color: #002540;
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 13px;
}

 #pre-footer .h1 {
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 8rem;

}

#pre-footer .h2 {
	text-align: left;
	vertical-align: bottom;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 10rem;
}
